{% load static %}
<header class="">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="index.html"><h2>Stand Blog<em>.</em></h2></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item {% if request.resolver_match.url_name == 'main' %} active {% endif %}">
                        <a class="nav-link" href="{% url 'home:main' %}">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'article_list' %} active {% endif %}" href="{% url 'blog:article_list' %}">Articles List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        {% if request.user.is_authenticated %}
                            <div class="d-flex justify-content-center align-center">
                                {% if request.User.first_name %}
                                    <span>
                                    <img src="{{ user.profile.image.url }}" alt="" width="30px" height="30px"
                                         style="border-radius: 100%">
                                    </span>
                                    <a class="nav-link" href="">{{ request.user.first_name }}</a>
                                {% else %}
                                    <span>
                                    <img src="{{ user.profile.image.url }}" alt="" width="30px" height="30px"
                                         style="border-radius: 100%">
                                    </span>
                                    <a class="nav-link" href="">{{ request.user.username }}</a>
                                {% endif %}

                                <a class="nav-link" href="{% url 'account:logout' %}"><span
                                        class="badge badge-danger m-t-1">Logout</span></a>
                            </div>
                        {% else %}
                            <div class="d-flex justify-content-center align-center">
                                <a class="nav-link" href="{% url 'account:login' %}">Login</a>
                                <strong class="nav-link">/</strong>
                                <a class="nav-link" href="{% url 'account:register' %}">Rgister</a>
                            </div>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
